<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.evilgeniustechnologies.airsla"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.StreamingMediaService"
            android:exported="false"/>
        <service
            android:name=".services.SubmitService"
            android:exported="false"/>
        <service
            android:name=".services.ParsingService"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/login_label"/>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_label"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity"/>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:launchMode="singleTop"
            android:label="@string/main_menu_label"/>
        <activity
            android:name=".UnregisterActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/unregister"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".PasswordMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/password_menu_label"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/forgot_my_password"
            android:parentActivityName=".PasswordMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PasswordMenuActivity"/>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/change_my_password"
            android:parentActivityName=".PasswordMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PasswordMenuActivity"/>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/contact_us"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/about"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".AllPodcastsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/all_podcasts"/>
        <activity
            android:name=".PodCastDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PodcastBroadcastingActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:parentActivityName=".PodCastDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PodCastDetailsActivity"/>
        </activity>
        <activity
            android:name=".PodCastCategoriesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/podcast_categories"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".TopBroadcastsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/top_podcasts"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <activity
            android:name=".ResourcesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/other_resources"
            android:parentActivityName=".AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity"/>
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:label="@string/my_favorites"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
    </application>

</manifest>
